body p {
  font-size: 1.1em;
  line-height: 1.5em;
}

main article header p {
  padding-left: 0.2em;
}

.prompt.input_prompt {
  min-width: 5em;
  padding: 0.4em;
  padding-left: 0.1em;
}

.inner_cell .text_cell_render {
  margin-left: -4.6em;
  padding-left: 0;
}

div.cell {
  padding: .5em;
}